/* div {
  border:1px solid black;
} */

/* For Tabs */
div.tab_label {
  min-width:120px;
  text-align: center;
  background-color:#AF6557;
  padding:10px 5px;
  border-radius:3px;
  margin-right:2px;
  color:white;
}
div.tab_label_error {
  background-color:#ffE1A3;
}

div.tab_label:hover{
  cursor:pointer;
}

div.active_tab_label {
  background-color:#B8E1A3;
  color:black;
}

div.tab {
  background-color:#B8E1A3;
  min-height:250px;
  border-radius:3px;
  padding:20px 15px;
}

div.tab_error {
  background-color:#ffE1A3;
}

/* For Accordion */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.active, button.accordion:hover {
 background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

button.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

button.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Files to download */
div.codefile {
  background-color:#edeae8;
  border-width: 1px;
  border-radius: 5px;
  border-style: dotted;
  border-color: #AF6557;
  margin-left: 0.3em;
  margin-right: 0.25em;
  padding-left: 4px;
  padding-right: 4px;
}
div.codefile a:before {
  content: "Download ";

}



/* Border around multiple elements */
div.group {
    border:5px outset #AF6557;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}


div.channel_name {
  background-color: #999999;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
code.command {
  background-color: #AAAAAA;
}
code.stderr {
  background-color: #F2E3E3;
}
code.stdout {
  background-color: #ffffff;
}

select.select_operator {
  margin-left: 4px;
  margin-right: 4px;
}

div.title {
  text-align: center;
}

div#container_algebraproduct, div#container_grammar, div#container_inputstrings {
  border: 1px solid #AF6557;
  margin: 5px;
  padding: 5px;
}

div#tikz_title {
  text-align: center;
}
div#tikz_gallery {
  background-color: #ffffff;
}

div.sys_info {
  color: #999999;
  font-size: small;
}
div.stdout_warning {
  color: #ff0000;
  font-size: large;
  text-align: center;
}
