/*
    #gapFileDownload and #headerFileDownload are the 
    download links for the gap file and its headerfiles.    
*/
    #gapFileDownload, #headerFileDownload {
         visibility:hidden;
         background-color:#edeae8;
         border-width: 1px;
         border-radius: 5px;
         border-style: dotted;
         border-color: #AF6557;
         margin-left: 0.3em;
         margin-right: 0.25em;
         padding-left: 4px;
         padding-right: 4px;
    }
    
/*
    #divtop contain #divbox1 and #divbox2
*/
    #divtop {
        padding-left: 20px;
        padding-right: 20px;
    }
    
/*
    #divbox1 contains the programselect and the input textbox.
    #divbox2 contains #algsOpInfowhich contains the 
    grammarselect and the algebraselects and operatorselects and operatorinfo.
*/    
    #divbox1, #divbox2, #advanced_options {
        border:5px outset #AF6557;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
/*
    #textbox contains the information about the selected program.
*/
    #textbox {
        padding-left: 5px;
        padding-right: 20px; 
    }
    
/*
    #algsOpInfo is an intermediary div containing between #divbox2 and
    the grammarselect, algebraselects and operatorselects and operatorinfo and is used only
    for floating the selects and the operatorinfo next to each other.
*/
    #algsOpInfo {
        display: flex;
    }
    
/*
    #algebrasdiv contains the grammarselect, algebraselects and operatorselects.
*/
    #algebrasdiv {
        padding-left: 5px;
        padding-right: 20px;
        width: 50%;  
    }
    
/*
    #operatorinfo contains information about the available operators.
*/
    #operatorinfo {
        padding-left: 5px;
        padding-right: 20px;
        width: 50%;
    }
        
/*
    #clearfix is used for fixing a bug that makes #algebrasdiv and #operatorinfo
    incorrectly float on top of each other instead of next to each other.
*/
    #clearfix {
        clear: both;
        font-size: 1px;
    }
    
/*
    #divbottomouter contains #divbottom and is used to position #divbottom and
    hide it as long as the submit button hasn't been clicked yet.
*/
    #divbottomouter {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    
/*
    #divbottom contains the results section with its tabs.
*/
    #divbottom {
        height:65vh;
        width:95%;
        overflow:auto;
        padding-left: 0px;
        padding-right: 20px;
    }


/*
.loader-wrapper, .loader and .loader-inner constitute the components of the loading animation that
is played when the submit button is clicked. 
@keyframes loader and @keyframes loader-inner are responsible for the animation itself.
*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  display: flex;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
} 

/* 
    This section contains css for the tabs of the results section
    and is taken directly from:
    https://makitweb.com/simple-tabbed-content-area-with-html-css-and-jquery/
*/
.tabs{
    width:60%;
    height:auto;
    margin:0 auto;
}

/* tab list item */
.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
}
.tabs .tabs-list li{
    width:120px;
    float:left;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    background-color:#AF6557;
    border-radius:3px;
}
.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color:white;
}

/* Tab content section */
.tabs .tab{
    display:none;
    width:96%;
    min-height:250px;
    height:auto;
    border-radius:3px;
    padding:20px 15px;
    background-color:#B8E1A3;
    color:darkslategray;
    clear:both;
}
.tabs .tab h3{
    border-bottom:3px solid #AF6557;
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}
.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display:block !important;
}
.tabs .tabs-list li.active{
    background-color:#B8E1A3 !important;
    color:black !important;
}
.active a{
    color:black !important;
}

/* media query */
@media screen and (max-width:360px){
    .tabs{
        margin:0;
        width:96%;
    }
    .tabs .tabs-list li{
        width:80px;
    }
}
/* End of tabs css section */
