{% extends "base.html" %}

{% block head %}
Bellman's Cafe
{% endblock %}

{% block body %}
<h1>Welcome to Bellman's Cafe</h1>
<form action="#" method="post">
    <p>Enter an exercice:</p>
    <p><input type="text" name="ex" placeholder = "For example: 1+2*3" /></p>

    <p><label for="program">Choose Program:</label>

<select id="programselect" onchange=progFunction(this) name="program" id="program">
  <option value="">Choose a program</option>
  <script type=text/javascript>
    var gapfiles = {{ gapfiles|safe }};
    gapfiles.forEach(function(element) {
        let program = element.substring(0, element.lastIndexOf('.')) || element;
        document.write('<option value="'+program+'">'+program+'</option>');
    });
  </script>
</select>
<script type=text/javascript>
    function progFunction(selectObject) {
        var gramdict = {{ gramdict|safe }};
        var algdict = {{ algdict|safe }};
        var selected = selectObject.value;
        
        if(selected == ""){
          var alg1Select = document.getElementById("alg1select");
            while (alg1Select.firstChild) {
                alg1Select.removeChild(alg1Select.firstChild);
            }             
          var alg2Select = document.getElementById("alg2select");
            while (alg2Select.firstChild) {
                alg2Select.removeChild(alg2Select.firstChild);
            } 
            var operat = document.getElementById("operator")
            operat.selectedIndex = 0;
            
            var textbox = document.getElementById("textbox");
            textbox.innerHTML = "<p>Infotext:</p>";
        }
        
        var grammarsList = gramdict[selected];
        var algebrasList = algdict[selected];
        
        
        var grammarSelect = document.getElementById("grammarselect");
        while (grammarSelect.firstChild) {
            grammarSelect.removeChild(grammarSelect.firstChild);
        }
        var defaultOption = document.createElement("option");
        defaultOption.value = "";
        defaultOption.text = "Choose a grammar";
        grammarSelect.appendChild(defaultOption);
        
        grammarsList.forEach(function(grammarString) {
            var option = document.createElement("option");
            option.value = grammarString;
            option.text = grammarString;
            grammarSelect.appendChild(option);
        });
        
        
        var alg1Select = document.getElementById("alg1select");
        while (alg1Select.firstChild) {
            alg1Select.removeChild(alg1Select.firstChild);
        }
        algebrasList.forEach(function(algebraString) {
            var option = document.createElement("option");
            option.value = algebraString;
            option.text = algebraString;
            alg1Select.appendChild(option);
        });
    var infotextsdict = {{ infotextsdict|safe }};
    var infotextslist = infotextsdict[selected];
    var textbox = document.getElementById("textbox");
    
    textbox.innerHTML = "<p>Infotext:</p>";
    
    infotextslist.forEach(function(infotext) {
            textbox.innerHTML += infotext;
        });
    }
</script>
    
    <div id="textbox">
    <p>
        Infotext:
    </p>    
    </div>
    
    <br>
    
    <p><label for="gra">Choose Grammar:</label>

<select id="grammarselect" onchange=gramFunction(this) name="gra" id="gra">
  <option value="">Choose a grammar</option>
</select>
<!--
<script type=text/javascript>
    function gramFunction(selectObject) {
        var algdict = {{ algdict|safe }};
        var selected = selectObject.value;
        
        if(selected == ""){
          var alg2Select = document.getElementById("alg2select");
            while (alg2Select.firstChild) {
                alg2Select.removeChild(alg2Select.firstChild);
            } 
            var operat = document.getElementById("operator")
            operat.selectedIndex = 0;
        }
        
        var algebrasList = algdict[selected];
        
        var alg1Select = document.getElementById("alg1select");
        while (alg1Select.firstChild) {
            alg1Select.removeChild(alg1Select.firstChild);
        }
        algebrasList.forEach(function(algebraString) {
            var option = document.createElement("option");
            option.value = algebraString;
            option.text = algebraString;
            alg1Select.appendChild(option);
        });
    }
</script>
-->
</p>

    <p><label for="alg1">Choose Algebra 1:</label>

<select id="alg1select" name="alg1" id="alg1">
</select>
</p>

<p><label for="operator">Algebra Produkt:</label>

<select name="operator" id="operator" onchange=operatorFunction(this)>
  <option value=""></option>
  <option value="*">*</option>
  <option value="X">X</option>
  <option value="Y">Y</option>
</select>
<script type=text/javascript>
    function operatorFunction(selectObject) {
        
        var algdict = {{ algdict|safe }};
        
        var selectObj = document.getElementById("programselect");
        var selected = selectObj.value;
        
        var alg2Select = document.getElementById("alg2select");
        while (alg2Select.firstChild) {
            alg2Select.removeChild(alg2Select.firstChild);
        }
        var emptyOption = document.createElement("option");
        emptyOption.value = "";
        emptyOption.text = "";
        alg2Select.appendChild(emptyOption);
        
        algebrasList = algdict[selected];
        
        algebrasList.forEach(function(algebraString) {
            var option = document.createElement("option");
            option.value = algebraString;
            option.text = algebraString;
            alg2Select.appendChild(option);
        });
    }
</script>
</p>


<p><label for="alg2">Choose Algebra 2:</label>

<select id="alg2select" name="alg2" id="alg2">
<option value=""></option>
</select>
</p>

<p><button type="submit" id=submit>Submit</button></p>
<script type=text/javascript>
    var result = {{ result|safe }}
    var resultstring = "";
    result.forEach(function(line) {
            resultstring = resultstring + line + "<br>";
        });
    document.write(resultstring);
</script>
</form>


{% endblock %}
