{% extends "base.html" %}

<!-- This section supplements the head section of the base.html file-->
{% block head %}

<script type=text/javascript>
    divbanner = document.getElementById('divbanner');
    divbanner.innerHTML += "<center><FONT color='#ffffff' size='6'>Bellman's Cafe v1.5.2</FONT></center>";
</script>

<style>
/*
    #divtop and #divbottom dissect the bellman page
    into an input section(top) and a results section(bottom)
    that are contained within the two divs.
*/
    #divtop {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #divbox1, #divbox2 {
        border:5px outset #AF6557;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
    #textbox, #operatorinfo {
        padding-left: 5px;
        padding-right: 20px; 
    }
    
    #divbottomouter {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    
    #divbottom {
        height:65vh;
        width:95%;
        border:1px solid #ccc;
        overflow:auto;
        padding-left: 10px;
        padding-right: 20px;
    }


/* These styling choices were an attempt to fix 
the loading animation not covering the entire scrollable screen, 
but turned out to be unrelated to the problem.
They might later be re-employed if other styling issues come up.
html {
    overflow:auto;
}
    
body {
    //height: auto;
    min-height: 100vh;
    overflow:auto;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
*/
   
/*
.loader-wrapper, .loader and .loader-inner constitute the components of the loading animation that
is played when the submit button is clicked. 
@keyframes loader and @keyframes loader-inner are responsible for the animation itself.
*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  display: flex;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
} 

</style>
{% endblock %}

<!-- This section supplements the body section of the base.html file-->
{% block body %}

<script>

        // This code snippet was originally used to play the loading animation, when the page is loading. 
        // It might be re-employed later.
        /* 
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
        */
        
        //The loader element that contains the components of the loading animation is removed at the start of the page
        //and is rebuilt when the submit button is clicked.
        loader = document.getElementById("loader");
        $('body').removeChild(loader);
</script>

<div style= "padding-left: 20px;padding-right: 20px;padding-top: 20px;">
<!-- Title of the page-->
<h1>Welcome to Bellman's Cafe</h1>
</div>

<!-- This div represents the input section(top side) of the page.-->
<div id="divtop">

<!-- In this form element combo-boxes can be selected and input can be typed, which is submitted via the post-method.-->
<form method="post">

<div id="divbox1">
<p><label for="program"><FONT size='4'>Program:</FONT></label>
<!-- Selection box for the programs or .gap files themselves, on selection the progFunction() method is executed.-->
<!-- Almost all of the combo-boxes unintentionally have two ids, which might be the cause of why a lot of attempts failed
    to add the selected value to previously selected values.
    Although a workaround was found the duplicate ids might later be removed for a cleaner code.-->
<select id="programselect" onchange=progFunction(this) name="program" id="program">
  <!-- The default option Choose a program-->
  <option value="">Choose a program</option>
  <!-- In this script the options for programselect are created-->
  <script type=text/javascript>
    //Jinja is used to recover the gapfiles list from the return values of @app.route("/bellman") of Bellmansgap.py.
    var gapfiles = {{ gapfiles|safe }};
    //gapfiles contains the names of all the files in the working directory that end on ".gap"
    gapfiles.forEach(function(element) {
        //each filename is stripped of everything after the ".", including the "." and saved in the variable program
        //in case there was no "." in the filename, it is just saved normally
        let program = element.substring(0, element.lastIndexOf('.')) || element;
        //for each program an option is then created as html
        document.write('<option value="'+program+'">'+program+'</option>');
    });
  </script>
</select>
<div id ="tip">
<FONT color = '#AF6557' size='4'><p>Please select a Program.</p></FONT>
</div>

    <!-- The div for information on the programs is created as blank and will be filled on selection of a program.-->
    <div id="textbox" style="visibility:hidden">
    <!--
    <p>
        Infotext:
    </p>   
    -->
    </div>
    
    <br>

<div id="exercise" style="visibility:hidden">
    <!--Your Input:-->
</div>
</div>

<!-- This script contains the progFunction() that is executed when a selection is made in the programselect combo-box.-->
<script type=text/javascript>
    function progFunction(selectProgramObject) {
        //Via Jinja the variables gramdict and algdict are recovered from the Flask app.
        var gramdict = {{ gramdict|safe }};
        var algdict = {{ algdict|safe }};
        //The selected value from the programselect is saved in a variable.
        var selectedProgram = selectProgramObject.value;
        
        //If the default option "Choose a program", which has the value "" was selected, 
        //the alg1select, alg2select, alg3Select, operator, textbox and exercise elements are emptied to
        //return them to their default state.
        if(selectedProgram == ""){
            var alg1Select = document.getElementById("alg1select");
            while (alg1Select.firstChild) {
                alg1Select.removeChild(alg1Select.firstChild);
            }   
            
            var operat = document.getElementById("operator")
            operat.selectedIndex = 0;
            
            var alg2Select = document.getElementById("alg2select");
            while (alg2Select.firstChild) {
                alg2Select.removeChild(alg2Select.firstChild);
            }  
            
            var operat2 = document.getElementById("operator2")
            operat2.selectedIndex = 0;
            
            var alg3Select = document.getElementById("alg3select");
            while (alg3Select.firstChild) {
                alg3Select.removeChild(alg3Select.firstChild);
            }
            
            var textbox = document.getElementById("textbox");
            textbox.innerHTML = "<p>Infotext:</p>";
            
            var exercisediv = document.getElementById("exercise");
            exercisediv.innerHTML="Your Input: (For example: 1+2*3)";
        }
        
        //Depending on the program the number of inputs can vary.
        //The default example_value is for now fixed, but should later also vary by program.
        var example_value = "\"1+2*3\"";
        
        //The inputstringsnumberdict is recovered via Jinja and holds the number of inputs required for every parsed program.
        var inputstringsnumberdict = {{ inputstringsnumberdict|safe }};
        //n is the number of inputs required for the selected program.
        var n = inputstringsnumberdict[selectedProgram];
        
        //The exercise div is intialized with a paragraph.
        var exercisediv = document.getElementById("exercise");
        exercisediv.innerHTML="Your Input: (For example 1+2*3)";
        
        //user_form_input is recovered via Jinja and holds the values in the combo-boxes that were selected by the user 
        //and the typed input from the exercise div, before submit was pressed.
        //If submit hasn't been pressed yet this session, this dictionary is empty.
        var user_form_input = {{ user_form_input|safe }};
        
        //A for loop iterating n times
        for (let i = 1; i <= n; i++) {
            //If previously entered input exists for the exercises, they are used, otherwise the default value is used and saved in example_value.
            if (user_form_input.hasOwnProperty("ex"+i)) {
                example_value = user_form_input["ex"+i];
            } else {
                example_value = "\"1+2*3\"";
            }
            //The exercise elements are created with html containing the example_value as value.
            exercisediv.innerHTML+='<p><input type="text" id="ex"'+i+'" name="ex'+i+'" value = '+example_value+' /></p>';
            exercisediv.style.visibility = 'visible';
        }
        
        
        //The combo-boxes for grammar, algebras, operator as well as the textbox containing information about the program are created here.
        
        //The grammars and algebras that were parsed for this program are extracted from the dictionaries and saved in new variables.
        var grammarsList = gramdict[selectedProgram];
        var algebrasList = algdict[selectedProgram].sort();
        
        //The grammarselect combo-box is first emptied.
        var grammarSelect = document.getElementById("grammarselect");
        while (grammarSelect.firstChild) {
            grammarSelect.removeChild(grammarSelect.firstChild);
        }
        //The default option is created with a value of "" and appended.
        var defaultOption = document.createElement("option");
        defaultOption.value = "";
        defaultOption.text = "Choose a grammar";
        grammarSelect.appendChild(defaultOption);
        
        //For each grammar in the grammarsList for this program an option is created and appended.
        grammarsList.forEach(function(grammarString) {
            var option = document.createElement("option");
            option.value = grammarString;
            option.text = grammarString;
            grammarSelect.appendChild(option);
        });
        //The first option (after the default option) is selected.
        grammarSelect.selectedIndex = 1;
        
        //The algebra 1 combo-box is emptied.
        var alg1Select = document.getElementById("alg1select");
        while (alg1Select.firstChild) {
            alg1Select.removeChild(alg1Select.firstChild);
        }
        //For each algebra parsed for this program and element is created and appended.
        algebrasList.forEach(function(algebraString) {
            var option = document.createElement("option");
            option.value = algebraString;
            option.text = algebraString;
            alg1Select.appendChild(option);
        });
        //Since the first option is always selected automatically, it still works, 
        //but explicitly selecting the first option would in line with the rest of the code and
        //should be added here later.
        
        //Since the operators stay the same and are not dependant on the program, the combo-box
        //does not need to be emtpied and rebuilt.
        //The first option of the operator combo-box is selected and its onchange-function is executed
        //in order to trigger the display of information about the operator.
        var operatorSelect = document.getElementById("operator");
        operatorSelect.selectedIndex = 1;
        operatorFunction(operatorSelect);
        
        //The algebra 2 combo-box is emptied.
        var alg2Select = document.getElementById("alg2select");
        while (alg2Select.firstChild) {
            alg2Select.removeChild(alg2Select.firstChild);
        }
        
        //For the second operator the operator is only selected, but the infotext is not updated.
        var operatorSelect2 = document.getElementById("operator2");
        operatorSelect2.selectedIndex = 1;
        
        //The algebra 3 combo-box is emptied.
        var alg3Select = document.getElementById("alg3select");
        while (alg3Select.firstChild) {
            alg3Select.removeChild(alg3Select.firstChild);
        }
        //Since the user can choose to executed only one algebra, the algebra 2 and 3 combo-boxes have the empty option.
        var emptyOption = document.createElement("option");
        emptyOption.value = "";
        emptyOption.text = "";
        alg2Select.appendChild(emptyOption);
        var emptyOption2 = document.createElement("option");
        emptyOption2.value = "";
        emptyOption2.text = "";
        alg3Select.appendChild(emptyOption2);
        
        algebrasList = algdict[selectedProgram].sort();
        //Each parsed algebra is then added to the options of the algebra 2 and 3 combo-boxes.
        algebrasList.forEach(function(algebraString) {
            var option = document.createElement("option");
            option.value = algebraString;
            option.text = algebraString;
            alg2Select.appendChild(option);
            var option2 = document.createElement("option");
            option2.value = algebraString;
            option2.text = algebraString;
            alg3Select.appendChild(option2);
        });
        //The second algebra (after the empty option) is selected for combo-box 2, making it different from the pre-selected algebra 1 option.
        // And the third is selected for combo-box 3, making it different from the other two.
        alg2Select.selectedIndex = 2;
        alg3Select.selectedIndex = 0;
        
        //An infotext corresponding to the selected program is added to the textbox div.
        var infotextsdict = {{ infotextsdict|safe }};
        var infotextslist = infotextsdict[selectedProgram];
        var textbox = document.getElementById("textbox");
        
        textbox.innerHTML = "<p>Infotext:</p>";
        //A black border around the textbox is added.
        textbox.style = "border:1px solid black;";
        textbox.style.visibility = 'visible';
        
        infotextslist.forEach(function(infotext) {
                textbox.innerHTML += infotext;
            });
        // Make divbox2, submitButton and divbottom visible.
        var divbox2 = document.getElementById("divbox2");
        divbox2.style.visibility = 'visible';

        var submitButton = document.getElementById("submit");
        submitButton.style.visibility = 'visible';
        var divbottomouter = document.getElementById("divbottomouter");
        divbottomouter.style.visibility = 'visible';
        
        // Make tip disappear
        var tip = document.getElementById("tip");
        tip.style.display = 'none';
    }
</script>
    
<div id="divbox2" style="visibility:hidden">
<!-- Empty combo-boxes are created for grammar and algebra 1, they will be filled once a program is selected.-->
<p><label for="gra">Grammar:</label>

<!-- gramFunction() will be executed when the grammar selected is changed. However this is deprecated and will be changed.-->
<select id="grammarselect" onchange=gramFunction(this) name="gra" id="gra">
  <option value="">Choose a grammar</option>
</select>

</p>


    <span><label for="alg1">Algebra 1:</label>

<select id="alg1select" name="alg1" id="alg1">
</select>
</span>

<!-- The operator combo-box is created staticly since it does not change. operatorFunction() is executed when a new operator is selected.-->
<span><label for="operator">Product Operator:</label>

<select name="operator" id="operator" onchange=operatorFunction(this)>
  <option value=""></option>
  <option value="*">*</option>
  <option value="/">/</option>
  <option value="%">%</option>
  <option value="^">^</option>
  <option value=".">.</option>
  <option value="|">|</option>
</select>

<script type=text/javascript>
    function operatorFunction(operatorSelectObject) {
        
        var operatorinfo = document.getElementById("operatorinfo");
        //The operatorinfo div is reset. (which might be unnecessary here)
        operatorinfo.innerHTML = "<p>Info:</p>";
        operatorinfo.style = "border:1px solid black;";
        operatorinfo.style.visibility = 'visible';
        
        var selectedOperator = operatorSelectObject.value;
        
        //A static sentence is displayed for each of the operators.
        switch (selectedOperator) {
            case "":
                operatorinfo.innerHTML = "<p>Info:</p>";
                break;
            case "*":
                operatorinfo.innerHTML += "&nbsp;&nbsp;* : The lexicographic product.";
                break;
            case "/":
                operatorinfo.innerHTML += "&nbsp;&nbsp;/ : The interleaved product.";
                break;
            case "%":
                operatorinfo.innerHTML += "&nbsp;&nbsp;% : The cartesian product.";
                break;
            case "^":
                operatorinfo.innerHTML += "&nbsp;&nbsp;^ : The Pareto product.";
                break;
            case ".":
                operatorinfo.innerHTML += "&nbsp;&nbsp;. : The take-one product. The difference to the lexicographic product is that only one co-optimal result is chosen in the case of co-optimal results.";
                break;
            case "|":
                operatorinfo.innerHTML += "&nbsp;&nbsp;| : The overlay product. With !A | B!, $A$ is used in the forward computation and $B$ is used during backtracing.";
                break;
            default:
                operatorinfo.innerHTML = "<p>Info:</p>";
            
        }
    }
</script>
</span>

<!-- An empty combo-box is created for algebra 2, that will be filled when a program is selected.-->
<span><label for="alg2">Algebra 2:</label>

<select id="alg2select" name="alg2" id="alg2">
    <option value=""></option>
</select>
</span>
<span>&nbsp;</span>

<span><label for="operator2">Product Operator 2:</label>

<select name="operator2" id="operator2">
  <option value=""></option>
  <option value="*">*</option>
  <option value="/">/</option>
  <option value="%">%</option>
  <option value="^">^</option>
  <option value=".">.</option>
  <option value="|">|</option>
</select>
</span>

<span><label for="alg3">Algebra 3:</label>

<select id="alg3select" name="alg3" id="alg3">
    <option value=""></option>
</select>
</span>

<!-- A div is created that will hold information on the selected operator.-->
<div id="operatorinfo" style="visibility:hidden">
<p>
    Info:
</p>    
</div>
</div>

<!-- The submit button element. loadFunction() starts the loading animation and is executed when the submit button is clicked.-->
<p><button type="submit" id="submit" style="visibility:hidden" onclick="loadFunction();">Submit</button></p>

<!-- This script contains the loadFunction().-->
<script type=text/javascript>
    function loadFunction() {
        //The components of the loading animation are added to the body in html.
        //The animation is then automatically started by the css-code, namely @keyframes loader and @keyframes loader-inner.
        $('body').append('<div id="loader" class="loader-wrapper"><span class="loader"><span class="loader-inner"></span></span></div>');
    }
</script>
        
</form>
</div>

<div id="divbottomouter" style="visibility:hidden">
<!-- divbottom contains the results section (bottom side) of the bellman page.-->
<div id="divbottom">
    <p>Result:</p>
    <!-- This script creates the resultstring from the result retrieved from the Flask app and outputs it to divbottom.-->
    <script type=text/javascript>
        //The inputreminderlist is recovered via Jinja from the Flask app.
        var inputreminder = {{ inputreminderlist|safe }}
        //An inputreminderstring is built in a for loop, that contains information about the previously selected values and typed input.
        var inputreminderstring = "";
        inputreminder.forEach(function(line) {
                inputreminderstring = inputreminderstring + line;
            });
        inputreminderstring += "<br><div> Your Input was: "+{{exlist|safe}}+"</div><br>"
        //The result from the third command in the Flask app is recovered via Jinja.
        var result = {{ result|safe }}
        //A resultstring is built from the result list and is added to the inputreminderstring.
        var resultstring = "";
        result.forEach(function(programoutput) {
                programoutput.forEach(function(line){
                    resultstring = resultstring + line + "<br>";
                });
                resultstring = resultstring + "<br>";
            });
        resultstring = inputreminderstring + resultstring;
        //The completed resultstring is then written to divbottom.
        document.write(resultstring);
    </script>
</div>
</div>

<!-- This script resets the values of all the combo-boxes to the values that were selected before submit was pressed.
    This is a workaround, since selecting the values upon creation of the combo-boxes did not work.
    (Possibly due to multiple ids on the combo-boxes' html-elements.)-->
<script type=text/javascript>

    function resetValuesFunction() {
        var user_form_input = {{ user_form_input|safe }};
        
        //The values of the combo-boxes are set to the values
        //saved in user_form_input.
        var progSelect = document.getElementById("programselect");
        progSelect.value = user_form_input["program"];
        //Since the value changing is not registered by onchange in this case,
        //the onchange function progFunction() has to be executed manually.
        progFunction(progSelect);
        
        var inputstringsnumberdict = {{ inputstringsnumberdict|safe }};
        var n = inputstringsnumberdict[user_form_input["program"]];
        
        var gramSelect = document.getElementById("grammarselect");
        gramSelect.value = user_form_input["gra"];
        
        var alg1Sel = document.getElementById("alg1select");
        alg1Sel.value = user_form_input["alg1"];
        
        var operatorSel = document.getElementById("operator");
        operatorSel.value = user_form_input["operator"];
        //As is the case with the progFunction() of programselect, operatorFunction() has to be executed manually her too.
        operatorFunction(operatorSel);
        
        var alg2Sel = document.getElementById("alg2select");
        alg2Sel.value = user_form_input["alg2"];
        
        var operator2Sel = document.getElementById("operator2");
        operator2Sel.value = user_form_input["operator2"];
        
        var alg3Sel = document.getElementById("alg3select");
        alg3Sel.value = user_form_input["alg3"];
    }
    //resetValuesFunction() is executed just before the submit button as well as after all other elements have been built.
    resetValuesFunction();
    document.getElementById('divbottom').scrollIntoView();
</script>

{% endblock %}
